body {
    
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

p {
    text-align: center;
    vertical-align: center;
}

html {
    font-family: sans-serif;
}

section{
    scroll-snap-align: start;
    display: block;
    height: 100vh;
}

.CONTAINER{

    scroll-snap-type: y mandatory;
    overflow-y: visible hidden;
    overflow-x: hidden;
    scroll-snap-stop: always;
    scroll-behavior: smooth; 
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*First Conteiner with Header*/
.Main {
    background-color: black;
    color: white;
    vertical-align: central;
}
.Main_Content {
    padding: 25;
    align-content: center;
    vertical-align:central;
}

/*Introduction Container*/
.Intro {
    background-color: #0c0c0c;
    color: white;
    vertical-align: center;
}

.Intro_Content {
	
    padding: 25;
    align-content: center;
    vertical-align: center;
}

/*Genrel Stuff container*/
.General {
    background-color: black;
    color: white;
}

.General_Content {
    padding: 25;
    align-content: center;
}

/*Curriculum Vitea Container*/
.CV {
    background-color: #0c0c0c;
    color: white;
}

.CV_Content {
    padding: 25;
    align-content: center;
}

/*Projects container*/
.Projects {
    background-color: black;
    color: white;
}

.Projects_Content {
    padding: 25;
    align-content: center;
}

/*Contacts container*/
.Contacts {
    background-color: #0c0c0c;
    color: white;
}

.Contacts_Content {
    padding: 25;
    align-content: center;
}

/*Projects container*/
.Misc {
    background-color: black;
    color: white;
}

.Misc_Content {
    padding: 25;
    align-content: center;
    width: 66%;
    margin: auto;
}

.link {
    color: red;
    text-decoration: none;
    background-color: none;
    border:thick;
    border-color: red;
}

.projectlist{
    height: 30%;
    border: 1px solid #808080;
    display: flex;
    overflow-x: auto;
    margin-top: 5%;
}

.projectlist .item{
    min-width: 25%;
	width: 25%;
    text-align:center;
    margin: auto;

}

.invert_svg {
    -webkit-filter: invert(100%);
    filter: invert(100%);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.homebutton {
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    right: 0;
}

.onlyShowsInWebKitBrowser {
    opacity: 0;
    text-align: left;
    width: 30%;
}

@supports (-webkit-appearance:none) and (not (overflow:-webkit-marquee)) and (not (-ms-ime-align:auto)) and (not (-moz-appearance:none)){ 
    .onlyShowsInWebKitBrowser {
        opacity: 1;
    }    
}   

/* List */
ul {
    counter-reset: index;  
    padding: 0;
    max-width: 720px;
  }
  
  /* List element */
  li {
    counter-increment: index; 
    display: flex;
    align-items: center;
    padding: 12px 0;
    box-sizing: border-box;
  }
  
  
  /* Element counter */
  li::before {
    content: counters(index, ".", decimal-leading-zero);
    font-size: 1.5rem;
    text-align: right;
    font-weight: bold;
    min-width: 50px;
    padding-right: 12px;
    font-variant-numeric: tabular-nums;
    align-self: flex-start;
    background-image: linear-gradient(to bottom, aquamarine, orangered);
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  /* Element separation */
  li + li {
    border-top: 1px solid rgba(255,255,255,0.2);
  }